.details-img {
  width: 700px;
  height: 500px;
}

.details-para {
  text-align: center;
  margin-left: 50px;
}

@media only screen and (max-width: 688px) {
  .details-img {
    width: 200px;
    height: 300px;
    margin-bottom: 50px;
  }
  .details-para {
    margin-right: 50px;
  }
}
